section.section-padding {
    padding: 80px 0px;
    text-align: center;
}

.section-title h2 {
    text-transform: uppercase;
    font-size: 38px;
    color: #4c4b4b;
    /* font-weight: 700; */
}

.section-title h2 span {
    color: #04ce39;
}

.section-title p {
    font-size: 18px;
    color: #5d5b5b;
}

.section-title {
    margin-bottom: 60px;
}

.single-pricing-table {
    border: 1px solid #c5c5c5;
    padding: 15px 20px 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.single-pricing-table:hover{
    border:1px solid #04ce39;
    box-shadow: 0 0 5px #4c4b4b;
}

.single-pricing-table h3 {
    text-transform: uppercase;
    font-size: 25px;
    padding: 10px 0;
}

.single-pricing-icon i {
    font-size: 40px;
    color: #04CE72;
    padding: 15px;
}

.pricing-list {
    text-align: left;
}

.pricing-list ul {
    list-style: none;
    margin:0px;
}

.pricing-list ul li {
    font-size: 15px;
    color: #777676;
    line-height: 2;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.pricing-list ul li:hover{
    padding-left:3px;
}

.pricing-list ul li:before {
    font-family: fontAwesome;
    content: "\f00c";
    color: #04CE72;
   
    margin-right: 10px;
}



.pricing-list ul li.off:before {
    font-family: fontAwesome;
    content:"\f00d";
    color:rgba(202, 52, 52, 0.856);
}
h3.price{
    text-transform: lowercase;
    
}
a.border-btn {
    border: 1px solid #04ce72;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 20px 0;
    color: #5c5b5b;
    -webkit-transition: 0.9s;
    transition: 0.9s;
    text-decoration: none;
    
}
a.border-btn:hover{
    background:#04ce72;
    color:#fff;
}